/* Estilo do cabeçalho */
header {
    background: linear-gradient(135deg, #010f2e, #ca0808);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
    margin: 0 15px; /* Espaçamento entre os itens */
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #080808; /* Cor de destaque ao passar o mouse */
}

/* Estilo do corpo da página */
body {
    background-color: #010f2e;
    color: #fff; /* Cor do texto geral */
    font-family: Arial, sans-serif; /* Fonte geral da página */
    margin: 0;
    padding: 0;
}

/* Estilo da seção 'sobre' */
.sobre {
    display: flex;
    align-items: flex-start; /* Alinha itens no topo do contêiner */
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    gap: 20px; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha em telas menores */
}

.sobre-content {
    display: flex;
    flex-direction: column; /* Coloca o título e o texto em coluna */
    max-width: 50%; /* Limita a largura máxima para que a imagem não fique muito pequena */
}

.sobre_o_filme {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

.sinopse {
    font-size: 1.1em;
    line-height: 1.6;
    color: white;
    text-align: left; /* Alinha o texto à esquerda */
}

.images {
    max-width: 50%;
    height: auto;
    border-radius: 8px; /* Bordas arredondadas */
}

/* Estilo da seção do elenco e atores */
.elenco_atores {
    text-align: left;
    margin-left: 350px;
}

.atores {
    margin-top: 25px;
    text-align: left;
    list-style: none;
    margin-left: 307px;
}

li {
    margin: 25px;
}

/* Estilo da seção do trailer */
.trailer {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    background-color: #010f2e; /* Fundo para a seção do trailer */
    border-top: 1px solid #fff; /* Borda superior para separar a seção do trailer */
}

.trailer h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contêiner para o vídeo */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção de 16:9 */
    height: 0;
    overflow: hidden;
    background: #000;
    border-radius: 8px;
    margin: 0 auto; /* Centraliza o vídeo */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contato {
    margin-top: 80px;
}


.footer-bottom {
    background-color: rgb(95, 5, 5);
}

/* Adicionando rolar suave para âncoras */
